* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


:root{
  --primary-color: hsl(265, 7%, 34%);
  --secondary-color: hsl(200, 15%, 43%);

  --teal: hsl(151, 38%, 64%);
  --teal-light: hsl(151, 38%, 74%);

  --mint: hsl(120, 71%, 91%);
  --white-mint: hsl(120, 29%, 95%);
  

  --yellow-accent: hsl(58, 95%, 61%);
  --yellow-light: hsl(58, 95%, 71%);
}